<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Job Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" />


</head>
<body>
<div th:replace="base :: navbarmenu"></div>



<form action="#"
      th:action="@{/processjobform}"
      th:object="${jobentry}"
      method="post">
    <input type="hidden" th:field="*{id}" />

    <h2>Add Job</h2>
    Job Title: <input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br/>

    Job Id: <input type="text" th:field="*{jobId}" />
    <span th:if="${#fields.hasErrors('jobId')}"
          th:errors="*{jobId}"></span><br/>

    Organization: <input type="text" th:field="*{organization}" />
    <span th:if="${#fields.hasErrors('organization')}"
          th:errors="*{organization}"></span><br/>

    Location: <input type="text" th:field="*{location}" />
    <span th:if="${#fields.hasErrors('location')}"
          th:errors="*{location}"></span><br/>

    Description: <input type="textarea" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br/>

    Duties: <input type="textarea" th:field="*{duties}" />
    <span th:if="${#fields.hasErrors('duties')}"
          th:errors="*{duties}"></span><br/>
    <br/>

    Qualifications: <input type="textarea" th:field="*{qualifications}" />
    <span th:if="${#fields.hasErrors('qualifications')}"
          th:errors="*{qualifications}"></span><br/>
    <br/>

    <input type="submit" value="Submit" />
</form>
</body>
</html>